package ${package_name}

@${rib_name}Builder.${rib_name}Scope
class ${rib_name}Router @javax.inject.Inject constructor(
    interactor: ${rib_name}Interactor,
    private val injector: dagger.android.DispatchingAndroidInjector<Any>
) : com.uber.rib.core.RouterBase<${rib_name}Interactor>(interactor)
